.custom-select {
  height: 3rem !important; 
  line-height: 2.5rem !important;
  padding-top: 0.25rem !important; 
  padding-bottom: 0.25rem !important;
}

.custom-select .ant-select-selector {
  height: 3rem !important;
}

.custom-select .ant-select-selection-item,
.custom-select .ant-select-selection-placeholder {
  line-height: 2.5rem !important;
}